body {
  background-color: lightgray;
}


/* navigation section */

.top-navigation {
  background-color: GRAY;
  border: 2px solid black;

}

.top-navigation > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;


  background-color: slategray;
  border: 2px solid green
}

